.header {
  max-width: 412px;
  margin: auto;
  position: relative;
}

.fotofirst {
  max-width: 425px;
  margin-top: -4px;
  margin-left: -10px;
}

.title-header {
  font-family: var(--title);
  font-size: 96px;
  line-height: 87%;
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: -222px;
}

.end {
  font-size: 128px;
  margin-top: 10px;
}

.title {
  font-family: var(--kursiv-text);
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  line-height: 94%;
  padding-bottom: 30px;
}

.text {
  font-family: var(--main-font);
  font-size: 18px;
  text-align: center;
  color: var(--color-text);
}

.main {
  max-width: 412px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 100px;
}

.dear {
  padding: 0 30px;
}

.box-date {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-place {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hotel {
  max-width: 151px;
}

.href {
  text-decoration: none;
  font-size: 9px;
  text-transform: uppercase;
}

.map-bth {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: #6f7e5f;
  font-family: var(--main-font);
  color: white;
  line-height: 67%;
  position: absolute;
  right: clamp(0.125rem, 27.027vw + -6.2095rem, 0.75rem);
  bottom: -47px;
}

.title-main {
  font-weight: 400;
  font-size: 48px;
  line-height: 85%;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--title-main);
}

.place {
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left {
  text-align: left;
}

.dresscode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dress-text {
  margin: 25px 20px 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0 30px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  transition: height 0.3s ease;
  padding: 0 10px;
  color: var(--color-text);
}

.radio {
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;
  padding: 0;
}

.mini {
  font-size: 12px;
  padding: 2px 0 5px;
}

.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid var(--color-text);
  border-radius: 50%;
  background: transparent;
  transition: all 0.15s;
  position: relative;
}

.input {
  border-bottom: 1px solid #000;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  max-width: 330px;
  width: 100%;
  height: 33px;
  margin-top: 9px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
}

.input:focus {
  border: 1px solid #000;
  transition: all 0.5s ease;
}

.custom-radio:hover .radio-circle {
  border-color: var(--color-text);
}

.custom-radio input[type="radio"]:checked + .radio-circle {
  border-color: var(--color-text);
  background: var(--color-text);
}

.radio-text {
  text-align: left;
  font-size: 18px;
  font-family: var(--main-font);

  font-weight: 400;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 2px;
}

.checkbox__input {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-text);
  background-color: transparent;
  width: 14px;
  height: 14px;
  outline: none;
  border-radius: 0;
}

.checkbox__input:checked::after {
  content: "✓";
  font-size: 12px;
}

.button {
  max-width: 309px;
  width: 100%;
  transition: all 0.3s ease;
  padding: 7px 7px;
  justify-self: center;
  align-self: center;
  font-family: var(--title-main);
  font-size: 20px;
  border-radius: 23px;
  border: none;
  background-color: #6f7e5f;
  color: white;
}

.button.touch-pressed {
  background-color: #6b6b6b;
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--background-color-light);
    color: var(--hot-pink-color);
  }
}

.form-send {
  text-align: center;
}

.error-text {
  display: none;
}

.error-text.show {
  display: block;
  animation: show 0.3s ease;
}

.radio-error {
  display: none;
  text-align: left;
  font-size: 15px;
  font-family: var(--main-font);
}

.radio-error.show {
  display: block;
  animation: show 0.3s ease;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.varints {
  padding-bottom: 13px;
  font-size: 15px;
  text-align: left;
}

.custom-radio {
  font-size: 20px;
  text-align: left;
}

.checkbox {
  font-size: 20px;
}

.error-icon {
  font-size: 16px;
}

.input_box {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: var(--main-font);
}

.image-anketa {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 1;
}

.anketa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 20px;
}

.continer-ditale {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.time {
  max-width: 412px;
  width: 100%;
  max-height: 514px;
  aspect-ratio: 412 / 514;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  margin-top: -48px;
  color: var(--background-color);
}

.text-input {
  font-size: 18px;
  font-family: var(--main-font);
}

.text-input {
  font-size: 18px;
}

.timer-text {
  font-size: 32px;
  text-align: center;
  font-family: var(--timer-font);
  position: relative;
  width: 29px;
}

.colon {
  width: 8px;
}

.timer {
  padding-top: 15px;
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
  color: #6f7e5f;
}

.footer{
  margin-top: -20px;
}

.time-text {
  font-size: 64px;
  line-height: 78%;
}

.timer-text_small {
  font-size: 15px;
}
.days::after {
  content: "дней";
  position: absolute;
  top: 40px;
  right: -2px;
  font-size: 12px;
  font-family: var(--title-main);
  font-weight: 400;
  text-transform: uppercase;
}

.hours::after {
  content: "часов";
  position: absolute;
  top: 40px;
  right: -7px;
  font-size: 12px;
  font-family: var(--title-main);
  font-weight: 400;
  text-transform: uppercase;
}

.minutes::after {
  content: "минут";
  position: absolute;
  top: 40px;
  right: -6px;
  font-size: 12px;
  font-family: var(--title-main);
  font-weight: 400;
  text-transform: uppercase;
}

.seconds::after {
  content: "секунд";
  position: absolute;
  top: 40px;
  left: -7px;
  font-size: 12px;
  font-family: var(--title-main);
  font-weight: 400;
  text-transform: uppercase;
}
